@font-face {
  font-family: 'Museo Sans Light';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl/") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Bold';
  src: url("../fonts/MuseoSansCyrl/");
  src: url("../fonts/MuseoSansCyrl/?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
  color: #333333;
}

img {
  max-width: 100%;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.input {
  border-radius: 10px;
  border: 1px solid #dddddd;
  padding: 25px;
}

.a {
  text-decoration: none;
  color: #333333;
}

.button {
  background-color: #ffd200;
  border-radius: 10px;
  border: none;
  padding: 18px 30px;
}

.button:hover {
  background-color: #ffdb33;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .container {
    width: 760px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 580px;
    width: 95%;
  }
}

@media (max-width: 320px) {
  .container {
    width: 90%;
  }
}

.navbar {
  padding: 8px 0;
  min-width: 320px;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
}

.navbar__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar__button {
  margin-left: 30px;
}

.navbar__phone {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  color: #333333;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    font-size: 12px;
    padding: 15px 26px;
    margin-left: 0;
  }
  .navbar__logo {
    width: 96px;
  }
}

.warranty {
  padding: 50px 0;
  background-color: #f5f5f5;
  min-width: 320px;
}

.warranty-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.warranty-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-right: 100px;
}

.warranty-text__title {
  display: block;
  font-size: 41px;
  text-align: left;
  margin-top: 0;
  margin-bottom: 40px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.warranty-text__subtitle {
  display: inline-block;
  margin-bottom: 70px;
  font-size: 20px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.warranty-list {
  margin: 0;
  padding: 0;
  width: 301px;
}

.warranty-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.warranty-item__icon {
  height: 40px;
  width: 40px;
}

.warranty-item__text {
  margin-left: 30px;
  font-size: 14px;
}

.warranty-item__text:last-child {
  margin-bottom: 0;
}

@media (max-width: 1200px) {
  .warranty-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .warranty-text {
    width: 75%;
    padding-right: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .warranty-list {
    margin-bottom: 44px;
  }
}

@media (max-width: 768px) {
  .warranty {
    padding-bottom: 30px;
  }
  .warranty-text {
    width: 95%;
  }
  .warranty-text__title {
    font-size: 24px;
    margin-bottom: 13px;
    min-width: 270px;
  }
  .warranty-text__subtitle {
    font-size: 16px;
    margin-bottom: 28px;
  }
  .warranty-image {
    margin-bottom: 35px;
  }
  .warranty-item {
    margin-bottom: 20px;
  }
  .warranty-item:last-child {
    margin-bottom: 0;
  }
  .warranty-item__text {
    max-width: 198px;
    font-size: 12px;
  }
}

.form {
  background: url("../img/kitchen.png") no-repeat;
  background-position: center right;
  background-size: contain;
  position: relative;
  padding-top: 80px;
  padding-bottom: 90px;
  min-width: 320px;
}

.form:before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
}

.form-wrapper {
  position: relative;
}

.form-text {
  width: 50%;
}

.form__title {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  max-width: 360px;
  line-height: 35px;
  margin: 0;
}

.form__subtitle {
  display: block;
  max-width: 250px;
  margin-top: 24px;
  margin-bottom: 30px;
}

.form__input {
  width: 240px;
}

.form__input:focus {
  outline: none;
  border-color: #ffd200;
}

.form__input_data {
  margin-right: 8px;
}

.form__button {
  width: 85%;
  height: 70px;
  margin: 30px 0;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.form-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-data__info {
  width: 50%;
  font-size: 15px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__phone {
  display: block;
  font-size: 15px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

@media (max-width: 1200px) {
  .form {
    background-size: cover;
  }
  .form__input {
    width: 85%;
    margin-bottom: 10px;
  }
  .form-data {
    width: 85%;
  }
}

@media (max-width: 768px) {
  .form {
    background: #fff;
    padding-top: 53px;
    padding-bottom: 55px;
  }
  .form-wrapper {
    text-align: left;
    width: 95%;
    margin: auto;
  }
  .form-text {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form__title {
    font-size: 18px;
    max-width: 260px;
    line-height: normal;
    font-family: 'Museo Sans Bold', sans-serif;
    font-weight: 700;
  }
  .form__subtitle {
    font-size: 14px;
  }
  .form__input {
    width: 275px;
    font-size: 15px;
  }
  .form__input_data {
    margin-right: 0;
    margin-bottom: 8px;
  }
  .form__button {
    margin-top: 10px;
    margin-bottom: 25px;
    width: 275px;
    font-size: 14px;
  }
  .form-data {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    max-width: 270px;
  }
  .form-data__info {
    width: 100%;
    margin-bottom: 10px;
  }
  .form__phone {
    line-height: 24px;
  }
}

.about {
  background: url("../img/points.png") no-repeat;
  background-position: center left;
  background-size: 50% 100%;
  position: relative;
  min-width: 320px;
  background-color: #f5f5f5;
  padding: 100px 0;
}

.about__text {
  text-align: center;
}

.about__title {
  font-size: 30px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  margin: 0;
}

.about__photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 70px;
}

.about__arrow {
  width: 120px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about .img {
  width: 370px;
  height: 280px;
}

.arrow {
  width: 45px;
  height: 19px;
}

@media (max-width: 1200px) {
  .about {
    background: none #f5f5f5;
    padding-top: 43px;
    padding-bottom: 65px;
  }
  .about__photos {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 40px 0;
  }
  .about__img-3 {
    display: none;
  }
  .about__title {
    font-size: 18px;
  }
  .img {
    margin-right: 10px;
    margin-bottom: 10px;
    width: 246px;
    height: 186px;
  }
}

@media (max-width: 768px) {
  .about__img-2 {
    display: none;
  }
}

.price {
  min-width: 320px;
  padding: 100px 0;
  text-align: center;
}

.price__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.price__title {
  width: 515px;
  font-size: 30px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  margin: 0;
}

.price__subtitle {
  font-size: 20px;
  margin: 58px 0;
}

.price-wrapper {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.price-block {
  border: 1px solid #f0f0f0;
  margin-bottom: 25px;
}

.price-block:hover {
  -webkit-box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
}

.price-block:hover .price-block__img:before {
  opacity: 1;
}

.price-block__img {
  position: relative;
}

.price-block__img::before {
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ffd200), color-stop(100, rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to top, #ffd200 0, rgba(255, 255, 255, 0) 100);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.price-block__text {
  padding: 50px;
}

.price-link:hover .price-link_tag {
  opacity: 1;
}

.price-link__button {
  font-size: 16px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  position: 1;
  position: relative;
}

.price-link__button::after {
  content: '';
  width: 100%;
  height: 3px;
  left: 0;
  position: absolute;
  display: block;
  bottom: -4px;
  z-index: -1;
  background-color: #ffd200;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.price-link__button:hover::after {
  height: 13px;
}

.price__info {
  display: block;
  font-size: 18px;
  margin-bottom: 30px;
}

.price__img {
  width: 370px;
  height: 260px;
}

@media (max-width: 768px) {
  .price {
    padding: 55px 0;
  }
  .price__title {
    font-size: 18px;
    width: 242px;
  }
  .price__subtitle {
    font-size: 14px;
    margin-top: 27px;
    margin-bottom: 60px;
  }
  .price-wrapper {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .price-block {
    margin-bottom: 30px;
  }
}

.steps {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 320px;
  padding-bottom: 100px;
}

.steps__title {
  display: block;
  margin: auto;
  width: 651px;
  text-align: center;
  font-size: 30px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.steps__subtitle {
  display: block;
  font-size: 20px;
  margin-top: 60px;
  margin-bottom: 70px;
}

.steps-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.steps-block {
  width: 146px;
  margin-right: 10px;
}

.steps-block:last-child {
  margin-right: 0;
}

.steps-block__info {
  margin: 0;
  margin-top: 30px;
  font-size: 14px;
}

.steps__arrow {
  width: 72px;
  height: 25px;
}

@media (max-width: 1200px) {
  .steps__arrow {
    display: none;
  }
  .steps__title {
    width: 500px;
    font-size: 24px;
  }
  .steps__subtitle {
    font-size: 17px;
  }
  .steps-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .steps {
    padding-bottom: 45px;
  }
  .steps__title {
    width: 233px;
    font-size: 18px;
  }
  .steps__sibtitle {
    font-size: 14px;
  }
  .steps-block {
    width: 125px;
    margin-bottom: 30px;
  }
  .steps-block__info {
    font-size: 12px;
  }
  .steps-wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.attention {
  background-color: #ffd200;
  padding: 90px 0;
  min-width: 320px;
}

.attention__text {
  text-align: center;
  font-size: 32px;
  line-height: 50px;
}

@media (max-width: 768px) {
  .attention__text {
    width: 255px;
    margin: auto;
    font-size: 18px;
    line-height: normal;
  }
}

.support {
  padding-top: 100px;
  padding-bottom: 140px;
  min-width: 320px;
}

.support__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.support-block {
  width: 370px;
  height: 410px;
  background-color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.support-block__img {
  width: 370px;
  height: 260px;
}

.support-block__description {
  font-size: 16px;
  line-height: 23px;
  margin-left: 25px;
  margin-top: 27px;
  width: 80%;
}

@media (max-width: 1200px) {
  .support__wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .support-block {
    width: 277px;
    height: 307px;
    margin-bottom: 30px;
  }
  .support-block:last-child {
    margin-bottom: 0;
  }
  .support-block__img {
    width: 277px;
    height: 195px;
  }
  .support-block__description {
    width: 77%;
    font-size: 12px;
    line-height: 17px;
  }
}

.documents {
  padding-bottom: 230px;
  min-width: 320px;
}

.documents__title {
  display: block;
  margin: auto;
  text-align: center;
  font-size: 30px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  line-height: 45px;
  width: 60%;
}

.documents-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 100px;
}

.documents-block {
  width: 270px;
}

.documents-block__info {
  text-align: center;
  display: block;
  margin: auto;
  width: 80%;
  margin-top: 40px;
}

@media (max-width: 1200px) {
  .documents-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 40px;
  }
  .documents__title {
    font-size: 18px;
    line-height: normal;
  }
  .documents-block__info {
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .documents-block__info:last-child {
    margin-bottom: 0;
  }
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-dialog {
  position: relative;
  margin: auto;
  max-width: 450px;
  width: 90%;
  min-width: 200px;
  background-color: #fff;
  padding: 40px;
}

.modal-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
}

.scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  bottom: 30px;
  left: 30px;
  border: 1px solid #ffd200;
  border-radius: 100%;
  background: #ffd200;
  height: 45px;
  width: 45px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.scroll:hover {
  cursor: pointer;
}

.scroll__img {
  height: 35px;
  width: 35px;
}

.arrow_up {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
/*# sourceMappingURL=style.css.map */