.price
    min-width: 320px
    &__wrapper
        text-align: center
        padding: 100px 0
    &__text
        display: flex
        align-items: center
        flex-direction: column
    &__title
        width: 515px
        font-size: 30px
        font-weight: 700
    &__subtitle
        margin: 58px 0
    &__photo
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        &-block
            width: 370px
            height: 410px
            border: 1px solid #e8e8e8
            margin-bottom: 30px
    &__info
        font-size: 18px
        font-weight: 500
        margin-top: 39px
        margin-bottom: 31px
    &__button
        font-size: 16px
        font-weight: 700
        text-decoration: 3px solid underline $main-color
