.scroll
    display: flex
    position: fixed
    bottom: 30px
    left: 30px
    border: 1px solid $main-color
    border-radius: 100%
    background: $main-color
    height: 45px
    width: 45px
    align-items: center
    justify-content: center
    transform: rotate(180deg)
    &:hover
        cursor: pointer
    &__img
        height: 35px
        width: 35px
.arrow
    &_up
        transform: rotate(0deg)
